language: node_js
node_js:
- iojs
- 0.12
- 0.11
before_install:
- openssl aes-256-cbc -K $encrypted_d786f4b97017_key -iv $encrypted_d786f4b97017_iv
  -in .travis/deploy_key.pem.enc -out .travis/deploy_key.pem -d
after_success:
- eval "$(ssh-agent -s)"
- chmod 600 .travis/deploy_key.pem
- ssh-add .travis/deploy_key.pem
- git remote add dokku dokku@104.131.168.144:bloxparty
- git push dokku
